* {
  font-family: "Poppins", serif;
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
}

#ProductsParent {
  width: 96%;
  height: 100vh;
  margin: auto;
  margin-top: 5vh;
}

#ProductsParent div:nth-child(1) {
  color: #282c3f;
  font-size: 16px;
  line-height: 1;
}

#ProductsParent div:nth-child(1) > span {
  font-weight: 500;
}

#ProductsParent div:nth-child(2) {
  color: #282c3f;
  font-size: 14px;
  gap: 2;
  font-weight: 500;
}

#ProductsParent div:nth-child(2) > span {
  font-weight: 300;
}

#filterSelectBoxes {
  display: flex;
  margin-top: 1cap;
}

.filterSelectBoxes {
  margin: -20px;
  padding: 0;
}

#ProductsParent .fl {
  width: 20%;
  margin-top: 10px;
  font-size: 20px;
  font-weight: 700;
}

#ProductsParent .bundle {
  color: #565656;
  width: 10%;
  font-weight: 400;
  font-size: 14px;
}

#ProductsParent .bundle > select,
#ProductsParent .country > select,
#ProductsParent .size > select {
  outline: none;
  border: 1px;
  padding: 10px;
  border-radius: 20px;
  background-color: white;
}

#ProductsParent .bundle > select:hover {
  background-color: #f1efef;
}

#ProductsParent .country > select:hover {
  background-color: #f1efef;
}

#ProductsParent .size > select:hover {
  background-color: #f1efef;
}

#ProductsParent .country {
  color: #282c3f;
  width: 12%;
  font-weight: 400;
  font-size: 14px;
}

#ProductsParent .size {
  color: #282c3f;
  width: 20%;
  font-weight: 400;
  font-size: 14px;
}

#ProductsParent .ProductSelectBy {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.ProductSelectBy select {
  padding: 9px 14px;
  font-size: 14px;
  color: #7f8082;
  width: 255px;
  border-radius: 20px;
  outline: none;
  border: 1px solid rgb(70, 71, 72);
  background-color: white;
}

.ProductSelectBy select:hover {
  background-color: #f1efef;
}

#ProductBlock {
  width: 100%;
  display: flex;
}

#ProductFilter {
  width: 20%;
  min-width: 200px;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
}

#brandFilter li {
  list-style: none;
  margin: 8px;
}

#brandFilter li > span {
  padding-left: 10px;
  margin-top: -20px;
  font-size: 14px;
  color: #282c3f;
  min-height: 17px;
}

#brandFilter #filterButtonBrand {
  padding-top: 10px;
}

#productGrid {
  width: 80%;
}

#brandFilter #filterButtonDiscount {
  margin-top: 10px;
}

#filterButtonDiscount li {
  letter-spacing: 1px;
}

#productGridItems {
  display: grid;
  grid-template-columns: repeat(4, 23.7%);
  grid-gap: 20px;
  margin-top: 20px;
  margin-left: 20px;
}

#productGridItems #outerDIv {
  width: 90%;
}

#productGridItems img {
  width: 100%;
  margin-bottom: 0;
  padding: 0;
}

#products a {
  text-decoration: none;
}

#products a > div {
  margin: 5px;
  padding: 5px;
  color: black;
  line-height: 20px;
}

#products .brandname {
  font-size: 16px;
  font-weight: 500;
  line-height: 3;
  color: #282c3f;
  margin-bottom: -5px;
  margin-top: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#products .title {
  color: #535766;
  font-size: 14px;
  line-height: 3;
  margin-bottom: 0;
  margin-top: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 400;
  display: block;
}

#products .price {
  font-size: 14px;
  color: #282c3f;
  font-weight: 500;
}

#products .line-through {
  text-decoration: line-through;
  color: #7e818c;
  font-weight: 400;
  margin-left: 5px;
  font-size: 12px;
}

#products .discount {
  color: #f45272;
  font-weight: 400;
  font-size: 12px;
  margin-left: 5px;
}

#side-nav #color {
  width: 260px;
  height: 315px;
}

#side-nav #color #color-text {
  height: 40px;
  font-size: 12px;
  font-weight: 900;
  color: rgba(0, 0, 0, 0.884);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 105px;
  margin-top: 10px;
}

#side-nav #color #color-image {
  height: 15px;
  width: 15px;
  margin-right: -15px;
}

#color #color-content {
  height: 243px;
  width: 260px;
}

#color #color-content #container {
  margin-top: 1px;
  height: 28px;
  width: 260px;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.815);
}

#color #color-content #container input {
  width: 12px;
  height: 12px;
  margin-left: 8px;
  accent-color: rgb(244, 78, 105);
}

#color #color-content #container div {
  height: 14px;
  width: 14px;
  border-radius: 50%;
}

#color #color-content #container #yellow {
  background-color: yellow;
}

#color #color-content #container #pink {
  background-color: pink;
}

#color #color-content #container #black {
  background-color: black;
}

#color #color-content #container #red {
  background-color: red;
}

#color #color-content #container #orange {
  background-color: orange;
}

#color #color-content #container #green {
  background-color: green;
}

#color #color-content #container #blue {
  background-color: blue;
}

#color {
  margin-top: 30px;
}

#range {
  margin-top: 10px;
  color: #f45272;
  font-size: 15px;
  text-align: left;
}

.check-range {
  border-bottom: 1px solid lightgray;
}
